[submodule "public_html"]
	path = public_html
	url = https://gitlab.com/genomorro/registro-io-code.git
[submodule "data_wrangling"]
	path = data_wrangling
	url = https://gitlab.com/genomorro/tic-iner.git
